@{
    ViewData["Title"] = "Create page";
}
@model Note

<div class="text-center">
    <form method="post">
        <div class="form-group">
            <label for="exampleTitle">Title</label>
            <input asp-for="Title" type="text" class="form-control" id="exampleTitle" aria-describedby="titleHelp" placeholder="Enter Title">
            
        </div>
        <div class="form-group" style="padding-bottom:2em;">
            <label for="exampleDescription">Description</label>
            <input asp-for="Description" type="text" class="form-control" id="exampleDescription" placeholder="Description">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" asp-controller="Home">Cancel</a>
    </form>
</div>
