@{
    ViewData["Title"] = "Home Page";
}
@model List<Note>

<div class="text-center">
    <h1 class="display-4">Note application</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <th scope="row">@(i+1)</th>
                    <td>@Model[i].NoteId</td>
                    <td>@Model[i].Title</td>
                    <td>@Model[i].Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>

